h1 {
	font-size: 300%;
}

body {
	background-color: white;
	margin-left: 350px;
	margin-right: 250px;
	margin-top: 100px;
}

.fixed {
	padding: 50px;
	margin: 0px;
	background-color: #eee;
	position: fixed;
	top: 5%;
	left: 5%;
}

.relative {
	padding: 30px;
	background-color: #eee;
	position: relative; z-index: 1;
	height: 150px;	
}

.absolute {
	padding: 30px;
	background-color: #999;
	position: absolute; z-index: 2;
	bottom: 0px;
	right: -30px;
}